{% extends "base.html" %}
{% block content %}
  {% if user.is_staff %}
    <h1>Delete article {{ newspaper.title }}?</h1>
    <form action="" method="post">
      {% csrf_token %}

      <input type="submit" value="Yes" class="btn btn-danger">
      <a href="{% url 'newspaper:newspaper-list' %}" class="btn btn-secondary">Cancel</a>

    </form>
  {% else %}
    <h1>You have not permission to delete this article</h1>
    <a href="{% url 'newspaper:newspaper-list' %}">Go back to articles</a>
  {% endif %}

{% endblock %}
