{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block content %}
  {% if user.is_staff or not object %}
  <h1>{{ object|yesno:"Update,Create" }} redactor {{ redactor.username }}</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Submit" class="btn btn-primary">
    <a href="{% url 'newspaper:redactor-list' %}" class="btn btn-secondary">Cancel</a>
  </form>
  {% else %}
    <h1>You have not permission to update redactor</h1>
    <a href="{% url 'newspaper:redactor-list' %}">Go back to redactors</a>
  {% endif %}
{% endblock %}
